$color: blue;

$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


body {
    //color: $color;
    margin: 0;
    background-color: $divider-color;
}

.error {
    color: red;
}

.divContainer {
    position: 'fixed';
    top: '50%';
    left: '50';
    width: '30em';
    height: '18em';
    background-color: 'red';
    margin-top: '-9em'; /*set to a negative number 1/2 of your height*/
    margin-left: '-15em';
}